*{
  margin:0;
}

.app{
  /* as below header little grey color on instagram */
  background-color: #fafafa;
  height:100vh;
}

.app__header {
  /* keeps aspect ratio of insta, never look stretch */
  background-color: white  ;
  /*for logo ) pdding means inside space, marign are outside */
  padding:20px;
  /* light gray border line belo logo */
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

.app__signup {
  display: flex;
  /* everything in a column */
  flex-direction: column;
}